@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
html {
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 15px;
    margin: 20vh auto;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: auto 2vw;
}

.text-container {
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px 0 0 10px;
    height: 446px;
    width: 540px;
}

.text-container-top {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 12.5% 12.5% 5%;
}

.text-container-top span {
    color: hsl(277, 64%, 61%);
}

.text-container-middle {
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.7;
    margin: 0 20% 18% 12.5%;
}

.stats {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin: 0 20% 0 12.5%;
    text-transform: uppercase;
}

.stats h3 {
    font-weight: 700;
}

.stats h4 {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.8rem;
    margin-top: 12px;
}

.image-container {
    background-color: hsl(277, 64%, 61%);
    border-radius: 0 10px 10px 0;
    height: 446px;
}

.image-container img {
    height: 100%;
    mix-blend-mode: multiply;
    width: 100%;
}

.attribution {
    margin: 1rem auto;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
    .main-container {
        align-items: center;
        flex-direction: column-reverse;
    }
    .text-container {
        border-radius: 0 0 10px 10px;
    }
    .image-container {
        border-radius: 10px 10px 0 0;
    }
}

@media (max-width: 600px) {
    html {
        margin: 10vh 2.5vw;
    }
    .text-container {
        height: auto;
        width: 92%;
    }
    .text-container-top {
        font-size: 1.9rem;
        line-height: 1.5;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    .text-container-middle {
        margin: 0 10%;
        text-align: center;
    }
    .stats {
        flex-direction: column;
        margin: 10% 0;
    }
    .stats-text {
        text-align: center;
        margin: 10px 0;
    }
    .image-container {
        height: auto;
        width: 92%;
    }
    .attribution {
        font-size: 0.8rem;
    }
}